.header {
    border: 1px solid black;
    height: 100vh;
    /* background-image: url('../images/h1_hero.jpg'); */
}

.nav {
    /* border: 1px solid white; */
    width: 94%;
    padding-right: 80%;
    height: 3rem;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.nav.nav-scroll {
    background-color: #010E21;
}

.logo {
    font-size: larger;
    font-weight: 900;
    /* margin-top: 0.35rem; */
}

.fa-bars {
    display: none;
    visibility: hidden;
}

.nav-list {
    width: 50%;
    display: flex;
    margin-left: 10rem;
    justify-content: space-between;
    font-size: 0.9rem;
}

.opener { 
    display: none;
}

.blog-details {
    display: none;
}

.header-button-one {
    padding: 1rem;
    margin-right: 3.5rem;
    width: 15%;
    background-color: #2196F3;
    text-align: center;
}

.nav-list > a:hover, .black:hover {
    color: #2196F3;
}

.header-button-one:hover {
    background-color: #40C4FF;

}

.drop-downs {
    position: fixed;
    margin-left: 52.5rem;
    margin-top: 5rem;
}
.drop-downs.drop-down-scroll {
    margin-top: 3rem;
}
.blog {
    height: 6rem;
    width: 6rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.blog p {
    background-color: #2196F3;
    width: 100%;
    height: 0.3rem;
}
.blog .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    height: 50%;
    padding: 0.75rem;
}
.links > * {
    color: black;
}
.links > a:hover {
    color: #2196F3;
}
.blog.togle-display {
    display: none;
}

.header-body {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}

.left {
    width: 50%;
}
.left img {
    width: 41rem;
}

.right {
    width: 47%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}

.header-title {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 8%;
}
.header-paragraph {
    width: 50%;
    line-height: 2rem;
    margin-bottom: 6%;
    color: #9E9E9E;

}

.view-project {
    display: flex;
}

.view-project p {
    align-self: center;
}

.fa-long-arrow-alt-right {
    color: #40C4FF;
    font-size: 3rem;
    margin-left: 2rem;
}


/* main */
.main {
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}
.main-color-black{
    color: black;
}

.main-header {
    color: #303F9F;
}

.main-text {
    margin-top: 2rem;
    width: 50%;
    text-align: center;
    font-size: xx-large;
}

.main-body {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card {
    margin-top: 5rem;
    border-radius: 5px;
    border: 2px solid #e0c9bf;
    padding: 2rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14rem;
    justify-content: space-between;
}
.card:hover {
    border-color: #303F9F;;
}
.card-icon {
    color: #303F9F;
    font-size: 3rem;
}

.card-head {
    font-size: 1.5rem;
}

.card-text {
    text-align: center;
    color: #85756e;
}

/* main about us */

.about-us {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 7rem;
}

.about-us-left {
    background-image: url('../images/section_aboutus.jpg');
    width: 50%;
    padding: 10rem;
    padding-left: 4rem;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-heading {
    font-size: 2rem;
}

.about-text {
    width: 80%;
    line-height: 1.5rem;
}

.about-link {
    border: 1px solid #40C4FF;
    padding: 1rem;
    width: 6rem;
    text-align: center;
}
.about-link:hover {
    border-color: #303F9F;
}

.about-us-right {
    width: 50%;
}
.about-us-right img {
    width: 100%;
    height: 100%;
    
}

/* main our project */
.our-project {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
}

.our-project > *{
    color: black;
}

.our-project-heading {
    color: #303F9F;
}

.our-project-text {
    color: #727272;
    margin-top: 1.5rem;
}

.our-project-details {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our-project-card {
}

.our-project-card > img{
    width: 20rem;
    height: 20rem;
    /* display: none; */

}

.our-project-description {
    /* display: none; */
    /* border: 1px solid #40C4FF; */
    width: 20rem;
    height: 18rem;
    font-size: small;
    color: black;
    line-height: 2.0rem;
    padding-top: 2rem;
}

.our-project-description.togle-display {
    display: none;
}

.our-project-image.togle-display {
    display: none;
}

/* our team */
.our-team {
    width: 90%;
    margin-top: 4rem;
}

.our-team > * {
    color: black;

}

.our-team-heading {
    font-size: 2.3em;
    color: #303F9F;
    text-align: center;

}

.our-team-text {
    
    margin-top: 3rem;
    text-align: center;
    color: #727272;

}

.our-team-details {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-team-card{
    /* border: 1px solid black; */
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 17rem;
    height: 22rem;
}

.our-team-card > img {
    /* background-color: #f1f1f1; */
    width: 100%;
}
.our-team-card:nth-child(even){
    background-color: #f0d2d2;

}

.our-team-card .name {
    color: black;
}

.our-team-card .job {
    color: #727272;

}

.contact-staff {
    position: absolute;
    margin-top: 17rem;
}
.contact-staff > * {
    padding: 1rem;
    background-color: #2196F3;
    border-radius: 20px;
    color: #010E21
}

.contact-staff.togle-display { 
    display: none;
}


/* contact us */
.contact-us {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.contact-us > * {
    color: black;
}

.contact-heading {
    color: #303F9F;
}

.contact-text {
    margin-top: 2rem;
    border: 1px solid black;
    background-image: url('../images/h1_hero.jpg');
    width: 76%;
    text-align: center;
    padding: 2rem;
    color: white;

}

.contact-form {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 18rem;
    justify-content: space-around;
    align-items: center;
    
    
}
.contact-form > * {
    height: 1rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.name-email {
    width: 100%;
    height: 2.2rem;
    text-align: center;

}
.name-email > * {
    width: 19rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border-width: thin;
    
}

.adjust {
    width: 40rem;
    padding: 0.8rem;  
    border-width: thin;
}

.message {
    height: 5rem;
}

.contact-submit {
    background-color: #2196F3;
    width: 41.3rem;
    height: 2rem;
    font-size: medium;
    padding: 5px;   
    border: none;

    
}

.contact-submit:hover{
    background-color:  #40C4FF;

}

/* our mission our vission */
.mission {
    background-color: #2196F3;
    margin-top: 7rem;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    
}
.mission > * {
    width: 40%;
    margin-top: 3rem;
}

.mission  p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
    font-size: small;

}

.mission-head {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}



/* footer */
.footer {
    border: 1px solid black;
    height: 90vh;
    background-image: url('../images/h1_hero.jpg');

}

.footer-main {
    display: flex;
    padding-left: 5rem;
    padding-right: 10rem;
    padding-top: 6rem;
    justify-content: space-between;
    margin-top: 4rem;

}
.color {
    color: #8ba4b1;
}

.color-head {
    color: #2196F3;
}

.footer-sub-head {
    margin-top: 2rem;
    line-height: 2rem;
}

.footer-team-details > div {
    margin-top: 3.4rem;
}

.footer-team-details {
    /* margin-top: 6rem; */
    width: 13rem;
}

.team-details-social > * {
    border: 1px solid white;
    color: #8ba4b1;
    padding: 0.9rem;
    border-radius: 25px;
}

.team-details-social > i:hover {
    background-color: #2196F3;
    border: none;
}

.copy {
    margin-top: 3rem;
}

.copy-text {
    border-top: 1px solid #8ba4b1;
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    color: #8ba4b1;
}


@media only screen and (max-width: 480px) {

    .nav {
        flex-direction: column;
        padding-left: 0.8rem;
    }

    .sub-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 2%;
        padding-left: 10%;
        padding-right: 13%;
    }

    .fa-bars {
        display: inline-flex;
        visibility: visible;
        font-size: xx-large;
    }

    .drop-downs {
        display: none;
    }

    .opener {
        display: inline;
    }

    .blog-details.togle-display {
        display: none;
    }
    .nav-list.togle-display {
        display: none;
    }
    .header-body.togle-display {
        display: none;
    }
    
    .nav-list {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
        min-height: 60vh;
        height: 100vh;
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: white;
        
    }
    
    .nav-list > *,  .blog-details>* ,.black{
        
        color: black;
        /* border: 1px solid black; */
    }

    .fa-plus, .fa-minus {
        color: red;
    }
    
    .blog-details {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20%;
        margin-left: 8%;
    }

    .header-button-one {
        display: none;
    
    }

    .left {
        display: none;
    }

    .right {
        height: 100vh;
        width: 80%;
        margin: auto;
    }

    .header-body {
        margin-top: 6rem;
    }

    .header-title {
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 10%;
    }
    .header-paragraph {
        width: 80%;
        line-height: 1.4rem;
        font-size: 0.9rem;
        margin-bottom: 8%;
        color: #9E9E9E;
    
    }
    .fa-long-arrow-alt-right {
        color: #40C4FF;
        font-size: 2.2rem;
        margin-left: 2rem;
    }

    /* main */
    .main-header {
        font-size: 1.5rem;
    }

    .main-text {
        margin: 1.5rem;
        width: 90%;
        font-size: 1.5rem;
    }

    .main-body {
        flex-direction: column;
        width: 100%;
        height: 60rem;
    }
    
    .card {
        width: 70%;
        margin: auto;
        justify-content: space-around;

    }

    /* main about */
    .about-us {
        margin-top: 2rem;
    }

    .about-us-right {
        display: none;
    }

    .about-us-left {
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 5rem;
    }

    .about-heading {
        font-size: 1.5rem;
    }

    .about-text {
        font-size: 0.8rem;
        width: 90%;
    }

    /* our project details */
    .our-project {
        width: 100%;
        
    }

    .our-project-details {
        width: 100%;
        
    }

    .our-project-card > img, .our-project-description {
        width: 95%;
        margin: auto;
    }

    /* our team */
    .our-team-details {
        flex-direction: column;
        align-items: center;
    }

    /* contact form */
    .contact-us {
        width: 100%;
    }

    .contact-form {
        height: 27rem;
        margin-top: 1rem;
    }

    .name-email {
        flex-direction: column;
        height: 7rem;
    }

    .name-email > * {
        width: 17rem;

    }

    .email {
        margin-top: 1.8rem;
    }

    .adjust {
        width: 17rem;
    }

    /* our mission */

    .mission {
        flex-direction: column;
        align-items: center;
        height: 150%;
        padding: 2rem;
    }
    
    .mission > * {
        width: 100%;

    }


    /* footer */

    .footer {
        height: 270%;
    }

    .footer-main {
        flex-direction: column;
        padding-top: 1rem;
        padding-left: 1.7rem;
        justify-content: space-between;
    }

    .footer-sub-head {
        margin: 0.5rem;
    }

    .adjust-head {
        margin-top: 2rem;
    }

    .footer-team-details > div {
        margin-top: 1rem;
    }

    .footer-team-details {
        /* margin-top: 6rem; */
        width: 20rem;
    }

    .copy-text{
        text-align: center;
    }
  }